<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Snap Yard</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
    <div class="container">
        <div class="side-container">
        <img src="/images/snap yard.png" alt="Snap Yard Logo">
    </div>
    <div class="content">
        <img src="/images/snap yard.png" alt="Snap Yard Logo">

        <h2>Join Snap Yard!</h2>
        <form action="/register" method="post">
            <input  type="text" name="username" placeholder="Username">
            <input  type="text" name="fullName" placeholder="fullName">
            <input  type="email" name="email" placeholder="Email">
            <input  type="password" name="password" placeholder=" Set-Password">
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/">Login</a></p>
    </div>
</div>
    <script src="/javascripts/login.js"></script>

</body>
</html>
