/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  a{
    font-weight: bolder;
  }
  #container {
    width: 90%;
    margin: auto;
    height:50px;
    font-size: larger;
    font-weight: bolder;
    overflow: hidden;
    
  }
  
  .uploads {
    width: 100%;
    /* margin: 30px auto ; */
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #3ca8f5;
  }
  .cards
    {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;

  }
  .card
  {
    margin: 10px;
    height:300px;
    width:300px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px black ;
  }
  .card img:hover
  {
    transform: scale(1.05);
  }
  .dp{
    height:200px;
    width:200px;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 20px;
  }
  .profile
  {
    height:40px;
    width:150;
    display: flex;
    justify-content: center;
    padding-top: 10px ;
    align-items: center;
    color:#333;
    font-size: large;
    font-weight: bolder;
    /* background-color:rgb(112, 147, 229); */
  }
  .pp
  {
    height:40px;
    width:150px;
    display: flex;
    justify-content: space-around;
  }
  .pp img {
    width:25px;
    height:25px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
  header {
    background-color: #4285b7;
    color: #fff;
    padding: 1rem 0;
  }
  
  header h1 {
    float: left;
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .btn a
  {
    background-color: rgb(230, 54, 54);
    color:white;
    font:bolder;
    border: none;
    text-decoration: none;
  }
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  @media (max-width: 768px) {
    header h1{
      display:none
     } 
     nav{
       width:100%;
     }
   header nav ul {
      padding: 10px ;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
    }
  }  
  